<section class="page-header">
    <div class="overly"></div>   
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Admin</h1>
            <p>Select the category you want to administrate</p>
  
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/admin/devices">Devices</a></li>
              <li class="breadcrumb-item"><a routerLink="/admin/users">Users</a></li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
</section>
  