.message-container {
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 70%;
    word-wrap: break-word;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.text-left {
    align-self: flex-start;
    text-align: left;
    color: black;
    background-color: #f0f0f0;
}

.text-right {
    align-self: flex-end;
    text-align: right;
    color: white;
    background-color: #fb5c42;
}

/* Media query for better responsiveness on smaller screens */
@media (max-width: 768px) {
    .message {
        max-width: 100%;
    }
}

.client-picker {
    flex-grow: 0.2; /* Allow the client picker to take up available space */
    margin-right: 10px; /* Add some space between the client picker and the message input */
}

/* Media query for better responsiveness on smaller screens */
@media (max-width: 768px) {
    .client-picker {
        width: 100%; /* Make the client picker full width on smaller screens */
        margin-bottom: 10px; /* Add some space below the client picker on smaller screens */
    }
}

