<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Chat</h3>
        </div>

        <!-- Add 'message-container clearfix' classes to the panel-body div -->
        <div class="panel-body chat-box message-container">
          <!-- Add 'pull-right' or 'pull-left' classes based on sender -->
          <div *ngFor="let message of messages" class="message clearfix" [ngClass]="message.fromPersonId === crtUserId ? 'text-left' : 'text-right'">
            {{ message.message }}
          </div>
        </div>

        <div class="panel-footer">
          <div class="input-group">
            <!-- Client Picker -->
            <div class="client-picker">
              <select class="form-control" [(ngModel)]="selectedClientId" (change)="onPersonCahanged()">
                  <option *ngFor="let client of clients" [value]="client.id">{{ client.firstName }} {{ client.lastName }}</option>
              </select>
            </div>
            <!-- Message Input -->
            <input type="text" class="form-control" placeholder="Type your message..." [(ngModel)]="newMessage" (focus)="onFocus()"/>
            <!-- Send Button -->
            <button class="btn" (click)="sendMessage()">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
